{
	"lines": 100,
	"statements": 100,
	"functions": 100,
	"branches": 100,
	"include": [
		"src/**/*.ts"
	],
	"exclude": [
		"*.d.ts"
	],
	"extension": [".ts"],
	"reporter": [
		"json",
		"text",
		"text-summary",
		"html"
	],
	"check-coverage": true,
	"report-dir": "./coverage",
	"sourceMap": true,
	"instrument": true
}
